.responsive-calendar .controls {
  text-align: center;
}
.responsive-calendar .controls a {
  cursor: pointer;
}
.responsive-calendar .controls h4 {
  display: inline;
}
.responsive-calendar .day-headers,
.responsive-calendar .days {
  font-size: 0;
}
.responsive-calendar .day {
  display: inline-block;
    font-size: 14px;
    padding: 2px;
    position: relative;
    text-align: center;
    width: 14.2857%;
}
.responsive-calendar .day a {
  color: #000000;
  display: block;
  cursor: pointer;
  padding: 20% 0 20% 0;
}
.responsive-calendar .day a:hover {
  background-color: #eee;
  text-decoration: none;
}
.responsive-calendar .day.header {
  border-bottom: 1px gray solid;
}
.responsive-calendar .day.active a {
  background-color: #1d86c8;
    border-radius: 5px;
    color: #ffffff;
}
.responsive-calendar .day.active a:hover {
  background-color: #36a0e2;
}
.responsive-calendar .day.active .not-current {
  background-color: #8fcaef;
  color: #ffffff;
}
.responsive-calendar .day.active .not-current:hover {
  background-color: #bcdff5;
}
.responsive-calendar .day.not-current a {
  color: #ddd;
}

.responsive-calendar .day .badge {
    border-radius: 0 5px !important;
    font-family: Cuprum,sans-serif !important;
    font-weight: bold;
    padding: 2px 3px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1;
}
.label-warning, .badge-warning {
    background-color: #f89406 !important;
}
