@charset "UTF-8";
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999;
}

.sidebar1 {
	float: left;
	width: 340px;
	background-color: #FFFFFF;
	padding-bottom: 10px;
}
.content {
	padding: 10px 0;
	width: 370px;
	float: left;
}
.sidebar2 {
	float: left;
	margin-left: 20px;
    min-width: 300px;
	background-color: #FFFFFF;
	padding: 0;
}

#surgery_details {
	font-size: 12px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 780px;
}
#header img {
	text-align: center;
}
#wrapper {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

table, th, tr, td {
	margin-left: auto;
	margin-right: auto;
}
#container {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 120px;
}
#container ol li {
	margin-bottom: 4px;
}
a {
	color: #1E88C2;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
#logout {
	top: 10px;
	right: 10px;
	float: right;
}
#header {
	margin-bottom: 10px;
	font-size: 10px;
	text-align: center;
}
#login_text {
	float: left;
	font-size: 12px;
	line-height: 22px;
	margin-bottom: 40px;
	margin-left: 10px;
	margin-right: 10px;
	width: 280px;
	padding: 8px;
	border: 1px solid #CCC;
}
#content {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}

.doctor, .appointment {
	font-size: 12px;
	font-weight: bold;
	padding: 8px;
	margin: 4px;
	border: 1px solid #CCC;
	cursor: pointer;
}
.appointment {
	font-weight: normal;
}
.doctor:hover, .appointment:hover {
	background-color: #E3E8E4 !important;
	color: #EF2A21 !important;
}

#login {
	width: 300px;
	float: left;
	margin-left: 20px;
	border: 1px solid #CCC;
	padding: 8px;
}
#recover_password {
	width: 300px;
	float: right;
	margin-right: 60px;
	border: 1px solid #CCC;
}
#content form table tr th h2 {
	font-size: 14px;
	margin: 0px;
}
#alert {
	display: none;
}
#alert_display {
	border: 2px solid #EE1910;
    color: #EE1910;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 276px;
}
#state_list, #surgery_list, #dr_list, #appt_list  {
	float: left;
	width: 300px;
	margin-right: 10px;
	border: 1px solid #CCC;
}

#dr_list, #appt_list  {
	max-height: 544px;
    min-height: 100px;
    overflow: scroll;
    width: 320px;
}

#dr_list p {
	font-size: 12px;
	margin: 0px;
	padding-top: 4px;
	padding-bottom: 0px;
}
	
#state_list p, #surgery_list p, #dr_list p {
	font-size: 12px;
	padding: 8px;
}

#apDiv1 {
	background-color: #FFFFFF;
    top: 25%;
    box-shadow: 4px 4px 8px 0 #656A72;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 20px;
    position: fixed;
    right: -1000px;
    transition: all 1s ease-in-out 0s;
    width: 410px;
    z-index: 1;
}

#apDiv1 h2, #apDiv1 p {
	margin-left:20px;
}

#apDiv1 h2 {
	margin-bottom:10px;
	font-size: 14px !important;
}

#close_iframe {
	float: right;
	padding: 10px;
	font-family: Verdana, Geneva, sans-serif;
	cursor: pointer;	
}

.button_holder {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

.book_buttons {
	background: none repeat scroll 0 0 #C6CF52;
    border: 1px solid #B9C14C;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 2px;
    text-align: center;
    width: 150px;
}

#add_family_member_btn {
	float: left;
}

#edit_family_member_btn {
	float: right;
}

#cancel_btn {
	float: left;
}

#book_btn {
	float: right;
}

#cancel_family_member_btn, #save_family_member_btn {
	background: none repeat scroll 0 0 #EF2A21;
    border: 1px solid #EF2A21;
    width: 60px;
}

#cancel_family_member_btn   {
	float: left;
}

#save_family_member_btn   {
	float: right;
}

#appointment_for {
	margin-top: 10px;
}
#family_member_form_holder {
	margin-top: 20px;
	clear: left;
}

#family_member_form_holder table {
	font-size: 12px;
}

#family_member_form_holder table tr td {
	padding: 8px;
}

#family_member_form_holder table tr td label{
	font-weight: bold;
}
.admin_menu_item {
	font-weight: bold;
	width: auto;
	float: left;
	padding-top: 4px;
	padding-right: 20px;
	padding-bottom: 4px;
	padding-left: 20px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #B6B5BC;
	border-right-color: #B6B5BC;
	border-bottom-color: #B6B5BC;
	cursor: pointer;
}
.admin_menu_item:hover {
	background-color: #EF2A21;	
	color: #fff;
}
#admin_menu {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

#modalContainer {
	background-color:rgba(0, 0, 0, 0.3);
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:10000;
	background-image:url(tp.png); /* required by MSIE to prevent actions on lower z-index elements */
}

#alertBox {
	position:relative;
	width:300px;
	min-height:100px;
	margin-top:50px;
	border:1px solid #666;
	background-color:#fff;
	background-repeat:no-repeat;
	background-position:20px 30px;
	top: 100px;
	
}

#modalContainer > #alertBox {
	position:fixed;
}

#alertBox h1 {
	margin:0;
	font:bold 0.9em verdana,arial;
	background-color:#ef2a21;
	color:#FFF;
	border-bottom:1px solid #000;
	padding:4px;
	text-align: center;
}

#alertBox p {
	font: 0.9em verdana,arial !important;
    height: 80px;
    padding: 10px;
}

#alertBox #closeBtn {
	display:block;
	position:relative;
	margin: 5px auto 10px;
	padding:7px;
	border:0 none;
	width:70px;
	font:0.7em verdana,arial;
	text-transform:uppercase;
	text-align:center;
	color:#FFF;
	background-color:#ef2a21;
	border-radius: 3px;
	text-decoration:none;
}
